<head>
    <title>Nan_Wang_CPA7</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatiple" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

</head>

<body>
    <header>
        <article id="header-img">
            <img src="/image/BrandeisLogo.png">
        </article>
        <article class="header-name">
            <h1>Brandeis University</h1>
            <p>Students & Alumni Association</p>
        </article>
    </header>
    <nav>
        <a class="nav-a" href="/">Home</a>
        <a class="nav-a" href="/about">About</a>
        <!-- show all jobs -->
        <a class="nav-a" href="/jobs">Jobs</a>
        <!-- show all events -->
        <a class="nav-a" href="/events">Events</a>
        <a class="nav-a" href="/contact">Contact</a>
        <!-- show all users -->
        <a class="nav-a" href="/users">Users</a>
        <!-- sign in and sign up buttons -->
        <% if (loggedIn) { %> 
            <a class="nav-a nav-login" href="<%= `/users/${currentUser._id}`%>">Hi, <%= currentUser.name %>!</a>
            <a href="/users/logout"><button class="nav-button">Logout</button></a>
        <% } else { %>
            <a href="/users/login"><button class="nav-button">Sign In</button></a>
            <a href="/users/new"><button class="nav-button">Sign Up</button></a>
        <% } %>

    </nav>
    <div class="flashes">
        <% if (flashMessages) { %> <% if (flashMessages.success) { %>
        <div class="flash success"><%= flashMessages.success %></div>
        <%} else if (flashMessages.error){ %>
        <div class="flash error"><%= flashMessages.error %></div>
        <%} %> <%} %>
      </div>

    <%- body%>

<footer>
    <article>
        <p>@2023 Brandeis University</p>
    </article>
    <article class="fa">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-youtube"></a>

    </article>
</footer>
</body>

